@model IList<Movie>



 @foreach(Movie M in  Model)
 {
     <h1>@M.Name</h1>
 }







@*@{ 

    IList<Movie> AllMovies = ViewBag.Movies;


}


@foreach(Movie M  in AllMovies)
{
    <h1>@M.Name</h1>
}*@